.bestseller{
    overflow: hidden;
}
.sliderCarry{
    /* border: 1px solid #642714; */
    margin: 10px;
    /* padding: 10px; */
    overflow-x: hidden;
    position: relative;
}
.productcard{
    display: flex;
    /* overflow-x: auto; */
    /* flex-wrap: wrap; */
    position: relative;
    width: 100%;
    left: 0px;
    transition: all 1s;
}

.cardself{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: calc(25% - 12px);
    /* height: 25vw; */
    min-height: 250px;
    /* flex: 1; */
    margin: 5px;
    /* height: 400px; */
    border: 1px solid rgba(66, 65, 65, 0.54);
    border-radius: 20px;
    overflow: hidden;
    min-width: 165px;
    text-decoration: none;
}
.cardIMG{
    height: 80%;
    width: 100%;
}
.contentCard{
    margin: 10px;
}
.price{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.midCrazy{
    background: #f4f3ef;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.Crazyone{
    position: relative;
    display: inline-block;
}
.emptylogo{
    width: 400px;
}
.IMGtext{
    position: absolute;
    top: 0px;
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    pointer-events:none;
}