:root {
    --backColor: #0c1d36;
    --front: white;
}

body {
    margin: 0px;
}

nav {
    color: var(--front);
    width: 100%;
    position: relative;
}

nav,
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav {
    flex-direction: column;
    background: var(--backColor);
    position: sticky;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.jup {
    width: 120px;
    border-radius: 50px;
}

#Navbutton {
    font-size: 35px;
    border: none;
    padding: 10px;
    background: transparent;
    color: var(--front);
}

#Navbutton:hover,
a {
    cursor: pointer;
}


.center,
#search {
    font-size: 20px;
}

.start{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: 30%;
}

.center {
    /* background: white; */
    /* color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-top: 7px;
    overflow: hidden;
    border-bottom: 1px solid var(--backColor);
    color: var(--backColor);
    background: white;
    border-radius: 20px;
}

.right{
    margin-left: auto;
    width: 30%;
    justify-content: end;
    align-items: center;
}

#search {
    position: relative;
    width: 100%;
    background: transparent;
    border: 1px solid transparent;
    color: var(--backColor);
    flex: 1;
    transition: 1s border;
}

.socialMedia>i{
    margin: 1px;
}

#searchout{
    border: 1px solid transparent;
    transition: 1s border;
}
#searchout:focus{
    outline: none;
}
#search:focus{
    outline: none;
    /* border-bottom: 1px solid var(--backColor); */
}

.subEle {
    margin: 10px;
    font-size: 30px;
}
.subEle>i{
    /* width: 50px; */
    padding: 8px;
}

.Whatsapp{
    /* background: #2ae22a;
    border-radius: 28px; */
    color: #2ae22a;
}

.Facebook{

    color: #0072ff;
}

.Insta{
    background-image: linear-gradient(to bottom right, blue, purple, red, orange, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #642714;
    /* padding: 70px 0; */
}

.footer-col {
    width: 20%;
    padding: 0 15px;
    flex: 1;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--front);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--front);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--front);
    text-decoration: none;
    font-weight: 300;
    color: var(--front);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--front);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--front);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--front);
}

.searchform {
    border-bottom: 1px solid var(--front);
    color: var(--front);
    margin: 20px;
    /* padding: 20px; */
    padding-bottom: 0px;
    position: relative;
    font-size: 25px;
    display: none;
}

.hideSearch, .hidesocial{
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
}

.hidesocial{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.hidesocial>a{
    font-size: 40px;
}

.right{
    overflow: hidden;
    position: relative;
    height: 40px;

}
.socialMedia{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    top: 0px;
    transition: 0.1s top;
}
.widesocial{
    display: none;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (min-width:600px){
    .hideSearch{ 
        display: none;
    }
    .widesocial{
        display: flex;
        align-items: flex-start;
    }
    .socialMedia{
        display: none;
    }
}

@media screen and (max-width:800px){
    .widesocial{
        justify-content: space-between;
        width: 100%;
    }
    .subEle{
        margin: 0px;
    }
}

@media screen and (max-width:600px) {
    .center {
        /* display: none; */
        background: transparent;
        flex-direction: row;
    }
    .center>i{
        color: white;
    }
    #search{
        display: none;
    }

    .searchform {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .right{
        align-items: flex-start;
    }

}

#searchout {
    font-size: 25px;
    flex: 1;
    border: none;
    width: 80vw;
    background: transparent;
    color: var(--front);
}

@media screen and (max-width:300px){
    #nss{
        display: none;
    }
}

@media screen and (max-width:525px){
    .subEle{
        margin: 5px;
        font-size: 20px;
    }
}


.menuOpen {
    background-image: linear-gradient(to right, rgb(12, 29, 54), rgba(18, 56, 114, 0.961));
    position: fixed;
    z-index: 1;
    left: -20px;
    top: 0px;
    padding: 10px;
    height: 100vh;
    width: 0vw;
    /* border-radius: 0px 0px 500px 0px; */
    transition-property: height, width, border-radius;
    transition-duration: 0.4s;
    overflow: hidden;
    color: white;
}
.show-menu{
    left: 0px;
    width: 200px;
}
.menu-link{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
/* 
.content {
    color: transparent;
    transition: 1s color;
    transition-delay: 0.6s;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 80%;
}

.content>div {
    height: 100%;
    font-size: 35px;
    flex-direction: column;
}

.Lpart {
    display: flex;
    justify-content: center;
    transition-property: color;
    transition-duration: 0.2s;
    transition-delay: 0.6s;
}

.Rpart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.showCase {
    width: 400px;
    height: 400px;
}

.MenuCat {
    margin: 10px;
    margin-bottom: 0px;
    transition-property: font-size, color;
    transition-duration: 0.2s;
}
.MenuCat:hover{
    cursor: pointer;
    font-size: 40px;
    color: white;
}

.subL {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    height: 0px;
    overflow: hidden;
    transition: 0.2s height linear;
}

.subL>a {
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.MenuCat:hover + .subL {
    height: 100px;
}
.subL:hover{height: 100px;}

@media screen and (max-width: 700px) {
    .Rpart{
        display: none;
    }
} */