:root {
    --backColor: #0c1d36;
    --front: #ffffff;
}

body {
    margin: 0px;
}

nav {
    justify-content: space-between;
    flex: 1;
    color: white;
}

nav,
.nav,
nav>div {
    display: flex;
    align-items: center;
}

.nav {
    background: var(--backColor);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.jup {
    width: 120px;
    border-radius: 50px;
    margin: 5px;
}

#Navbutton {
    font-size: 50px;
    border: none;
    padding: 10px;
    background: transparent;
    color: white;
}

#Navbutton:hover,
a {
    cursor: pointer;
}

.center,
#search {
    font-size: 25px;
}

.center {
    /* background: white; */
    /* color: black; */
    padding: 5px;
    border-bottom: 1px solid white;
}

#search {
    background: transparent;
    border: none;
    color: white;
}

.subEle {
    margin: 10px;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #642714;
    /* padding: 70px 0; */
}

.footer-col {
    width: 20%;
    padding: 0 15px;
    flex: 1;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.searchform {
    border-bottom: 1px solid black;
    margin: 20px;
    /* padding: 20px; */
    padding-bottom: 0px;
    position: relative;
    font-size: 25px;
    display: none;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .center {
        display: none;
    }

    .searchform {
        display: flex;
    }
}

#searchout {
    font-size: 25px;
    flex: 1;
    border: none;
    width: 80vw;
}

@media screen and (max-width:300px){
    #nss{
        display: none;
    }
}