:root {
    --backColor: #0c1d36;
    --front: white;
}

body {
    margin: 0px;
}

nav {
    color: var(--front);
    width: 100%;
    position: relative;
}

nav,
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav {
    flex-direction: column;
    background: var(--backColor);
    position: sticky;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

.jup {
    width: 120px;
    border-radius: 50px;
}

#Navbutton {
    font-size: 50px;
    border: none;
    padding: 10px;
    background: transparent;
    color: var(--front);
}

#Navbutton:hover,
a {
    cursor: pointer;
}


.center,
#search {
    font-size: 25px;
}

.start{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    width: 30%;
}

.center {
    /* background: white; */
    /* color: black; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid var(--backColor);
    color: var(--backColor);
    background: white;
    border-radius: 20px;
}

.right{
    margin-left: auto;
    width: 30%;
    justify-content: end;
    align-items: center;
}

#search {
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--backColor);
    flex: 1;
    border-radius: 10px;
}
#search:active{
    border: 1px solid red;
}

.subEle {
    margin: 10px;
    font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #642714;
    /* padding: 70px 0; */
}

.footer-col {
    width: 20%;
    padding: 0 15px;
    flex: 1;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--front);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--front);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--front);
    text-decoration: none;
    font-weight: 300;
    color: var(--front);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--front);
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--front);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--front);
}

.searchform {
    border-bottom: 1px solid var(--front);
    color: var(--front);
    margin: 20px;
    /* padding: 20px; */
    padding-bottom: 0px;
    position: relative;
    font-size: 25px;
    display: none;
}

.hideSearch, .hidesocial{
    height: 0px;
    overflow: hidden;
    transition: height 0.4s;
}

.hidesocial{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.hidesocial>a{
    font-size: 40px;
}

.right{
    overflow: hidden;
    position: relative;
    height: 40px;

}
.socialMedia{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    top: 0px;
    transition: 0.1s top;
}
.widesocial{
    display: none;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (min-width:600px){
    .hideSearch{ 
        display: none;
    }
    .widesocial{
        display: flex;
        align-items: flex-start;
    }
    .socialMedia{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .center {
        /* display: none; */
        background: transparent;
        flex-direction: row;
    }
    .center>i{
        color: white;
    }
    #search{
        display: none;
    }

    .searchform {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .right{
        align-items: flex-start;
    }

}

#searchout {
    font-size: 25px;
    flex: 1;
    border: none;
    width: 80vw;
    background: transparent;
    color: var(--front);
}

@media screen and (max-width:300px){
    #nss{
        display: none;
    }
}

@media screen and (max-width:525px){
    .subEle{
        margin: 5px;
        font-size: 20px;
    }
}
