html, body {
  /* background: #102131; */
}

.slider-wrap {
  height: 100vh;
}

.slider {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  color: white;
}
.slider .parent-slide {
  padding: 15px;
}
.slider img {
  display: block;
  margin: auto;
}

.slick-dots {
  left: 0;
}